table, th, tr, td {
    border: 2px solid black;
}

body {
    background-color: rgb(73, 73, 73);
    color: whitesmoke;
}

.callout {
    background-color: gold;
    color: black;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.feature div{
    padding: 10px;
    margin: 10px;
}