table, td, th {
    border: 1px solid gold;
    padding: 1px;
}

body {
    color: rgb(230, 212, 165);
    font-family: "Roboto, sans-serif";

}

.callout {
    background-color: gold;
    color: black;
}

.alert-container {

}

.callout-container {
    height: 100vh; 
    background: url("../images/Whiskey-Pour.jpg") no-repeat bottom right fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

}

.quotes-container {
    
}

.features-container {

}

.monthly-favourites-container {
    
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: lightgrey;
}

.jumbotron .lead {
    margin: 25px 0;
}