table, td, th {
    border: 1px solid gold;
    padding: 1px;
}

body {
    background-image: url(https://www.harrods.com/BWStaticContent/50000/50000/6b987f49-81a1-42c2-bb6a-342617b662a7_d-hero-brand-t2-louis-xiii.jpg);
    color: whitesmoke;
    padding: 100px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.callout {
    background-color: gold;
    color: black;
    padding: 10px;
    margin: 10px;
}